In [15]:
import pandas as pd
from os import listdir
from os.path import isfile, join
import pathlib
import sys

# insert at 1, 0 is the script path (or '' in REPL)
path_mod = '/Users/srilakshmi/Desktop/Thesis/Data/District-level/'
sys.path.insert(1, path_mod)

import clean

In [16]:
# file paths and file names
path_input = '/Users/srilakshmi/Desktop/Thesis/Data/District-level/Flooded-Area/Data-Recurrence/'
path_output = '/Users/srilakshmi/Desktop/Thesis/Data/District-level/Flooded-Area/Output/'
name_output_file = 'District-level_Flooded-Area_Recurrence.csv'

col_name_old = 'Flooded Area Impacted'
recur_left = 48
recur_right = 54

In [17]:
# get list of file names
files = [f for f in listdir(path_input) if isfile(join(path_input, f))]
files.sort(reverse = False)
files

['Flooded Area Impacted in Ghana Ghana_Recurrence_02Year.csv',
 'Flooded Area Impacted in Ghana Ghana_Recurrence_05Year.csv',
 'Flooded Area Impacted in Ghana Ghana_Recurrence_10Year.csv',
 'Flooded Area Impacted in Ghana Ghana_Recurrence_15Year.csv',
 'Flooded Area Impacted in Ghana Ghana_Recurrence_20Year.csv']

In [18]:
# merge files
for i in range(0, 1):
    x = clean.clean_csv_recurrence(path_input, files[i], col_name_old, recur_left, recur_right)
    y = clean.clean_csv_recurrence(path_input, files[i+1], col_name_old, recur_left, recur_right)
    merged = clean.special_merge(left = x, right = y)
    
for i in range(2, 5):
    z = clean.clean_csv_recurrence(path_input, files[i], col_name_old, recur_left, recur_right)
    merged = clean.special_merge(left = merged, right = z)
    i += 1

merged

                         Region  02Year  05Year  10Year  15Year  20Year
0    Abura / Asebu / Kwamankese    0.00    0.03    0.13    0.18    0.24
1              Accra Metropolis    0.03    0.23    0.30    0.33    0.41
2                      Ada East   24.27   37.05   39.18   40.33   42.67
3                      Ada West   33.67   43.25   45.84   47.15   49.39
4                        Adaklu    0.00    0.13    0.18    0.20    0.23
..                          ...     ...     ...     ...     ...     ...
211                  West Gonja    1.16    2.32    4.73    6.41    9.08
212               West Mamprusi    6.39   15.84   61.95   91.63  129.07
213             Yendi Municipal    2.67    4.16    5.97    7.30    9.88
214                  Yilo Krobo    0.02    0.09    0.29    0.48    0.65
215                     Zabzugu    2.88    3.96    4.58    5.19    6.31

[216 rows x 6 columns]

In [20]:
# save file to disk

merged.to_csv(path_output+name_output_file, index = False, header=True)