In [2]:
import pandas as pd
import constants

## load in People Recurrence Data

# path_input_people = '/Users/srilakshmi/Desktop/Thesis/04-Data-Analysis-Results/00-Data-Sources/00-Cloud-to-Street/01-District-level/People/Output/'
# name_input_file_people = 'District_Flood_Risk_Classification_People.csv'

path_input_population = constants.path_output+constants.name_output_recurrence_population
population = pd.read_csv(path_input_population, header=0)

## load in Cropland Recurrence Data

path_input_cropland = constants.path_output+constants.name_output_recurrence_cropland
cropland = pd.read_csv(path_input_cropland, header=0)

# path_input_crops = '/Users/srilakshmi/Desktop/Thesis/04-Data-Analysis-Results/00-Data-Sources/00-Cloud-to-Street/01-District-level/Crops/Output/'
# name_input_file_crops = 'District_Flood_Risk_Classification_Crops.csv'

# ## load in Flooded Area Recurrence Data

# path_input_flooded_area = '/Users/srilakshmi/Desktop/Thesis/04-Data-Analysis-Results/00-Data-Sources/00-Cloud-to-Street/01-District-level/Flooded-Area/Output/'
# name_input_file_flooded_area = 'District_Flood_Risk_Classification_Flooded-Area.csv'

# ## load in Markets Recurrence Data

# path_input_markets = '/Users/srilakshmi/Desktop/Thesis/04-Data-Analysis-Results/00-Data-Sources/00-Cloud-to-Street/01-District-level/Markets/Output/'
# name_input_file_markets = 'District_Flood_Risk_Classification_Markets.csv'

# ## load in Roads Recurrence Data

# path_input_roads = '/Users/srilakshmi/Desktop/Thesis/04-Data-Analysis-Results/00-Data-Sources/00-Cloud-to-Street/01-District-level/Roads/Output/'
# name_input_file_roads = 'District_Flood_Risk_Classification_Roads.csv'

## output files
# path_output = '/Users/srilakshmi/Desktop/Thesis/04-Data-Analysis-Results/01-TC-Assignment/'
# name_output_file = 'Adm2_TC_Assignment_Recurrence.csv'

In [4]:
population

                         Region  02Year  05Year  10Year  15Year  20Year
0    Abura / Asebu / Kwamankese       0       0       0       0       0
1              Accra Metropolis      41     356     807    1071    1276
2                      Ada East       0      80     230     328     410
3                      Ada West      18     384     658     801     989
4                        Adaklu       0       0       0       0       0
..                          ...     ...     ...     ...     ...     ...
211                  West Gonja       0       0       0       0       0
212               West Mamprusi      10      20      40      77      87
213             Yendi Municipal       0       0      26      26      26
214                  Yilo Krobo       0       0       0       0       0
215                     Zabzugu       0       0       0       0       0

[216 rows x 6 columns]

In [5]:
cropland

                         Region  02Year  05Year  10Year  15Year  20Year
0    Abura / Asebu / Kwamankese    0.00    0.00    0.00    0.00    0.00
1              Accra Metropolis    0.00    0.00    0.00    0.00    0.01
2                      Ada East    0.54    1.86    2.23    2.37    2.64
3                      Ada West    2.19    4.31    4.69    4.87    5.14
4                        Adaklu    0.00    0.01    0.04    0.05    0.06
..                          ...     ...     ...     ...     ...     ...
211                  West Gonja    0.02    0.10    0.36    0.50    0.73
212               West Mamprusi    0.83    6.32   38.76   59.25   86.98
213             Yendi Municipal    0.06    0.61    1.83    2.76    4.51
214                  Yilo Krobo    0.00    0.03    0.05    0.06    0.06
215                     Zabzugu    0.01    0.11    0.29    0.54    1.10

[216 rows x 6 columns]

In [3]:
# get avg impact per recurrence data at district level ---

# crops = pd.read_csv(path_input_crops+name_input_file_crops, header=0)
# flooded_area = pd.read_csv(path_input_flooded_area+name_input_file_flooded_area, header=0)
# markets = pd.read_csv(path_input_markets+name_input_file_markets, header=0)
# roads = pd.read_csv(path_input_roads+name_input_file_roads, header=0)

tot_flood_risk = population.merge(cropland, on='Region')
tot_flood_risk
# tot_flood_risk = tot_flood_risk.merge(flooded_area, on='Region')
# tot_flood_risk = tot_flood_risk.merge(markets, on='Region')
# tot_flood_risk = tot_flood_risk.merge(roads, on='Region')

,Region,02Year_x,05Year_x,10Year_x,15Year_x,20Year_x,02Year_y,05Year_y,10Year_y,15Year_y,20Year_y
0,Abura / Asebu / Kwamankese,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00
1,Accra Metropolis,41,356,807,1071,1276,0.00,0.00,0.00,0.00,0.01
2,Ada East,0,80,230,328,410,0.54,1.86,2.23,2.37,2.64
3,Ada West,18,384,658,801,989,2.19,4.31,4.69,4.87,5.14
4,Adaklu,0,0,0,0,0,0.00,0.01,0.04,0.05,0.06
...,...,...,...,...,...,...,...,...,...,...,...
211,West Gonja,0,0,0,0,0,0.02,0.10,0.36,0.50,0.73
212,West Mamprusi,10,20,40,77,87,0.83,6.32,38.76,59.25,86.98
213,Yendi Municipal,0,0,26,26,26,0.06,0.61,1.83,2.76,4.51
214,Yilo Krobo,0,0,0,0,0,0.00,0.03,0.05,0.06,0.06
215,Zabzugu,0,0,0,0,0,0.01,0.11,0.29,0.54,1.10

In [ ]:
import numpy as np

# ASSUMPTIONS -----------------

treatment_control_cutoff = 0.45 # percentile threshold above which districts belong to treatment group

cropland_weights = 1
people_weights = 1
flooded_area_weights = 1
markets_weights = 1
roads_weights = 1

print('Treatment cutoff assigned: Districts in the', str(int(treatment_control_cutoff*100))+'th percentile and above w.r.t. total flood risk')
print('Weights assigned - cropland: ', str(cropland_weights))
print('Weights assigned - people: ', str(people_weights))
print('Weights assigned - flooded area: ', str(flooded_area_weights))
print('Weights assigned - markets: ', str(markets_weights))
print('Weights assigned - roads: ', str(roads_weights))

#assert cropland_weights+people_weights+flooded_area_weights+markets_weights+roads_weights == 1

# apply arbitrary risk formula ----------------

tot_flood_risk['Risk'] = pd.Series((np.array(tot_flood_risk['Avg Impact Per Year - People']) * people_weights) + 
                                   (np.array(tot_flood_risk['Avg Impact Per Year - Crops']) * cropland_weights) +
                                   (np.array(tot_flood_risk['Avg Impact Per Year - Flooded Area']) * flooded_area_weights) +
                                  (np.array(tot_flood_risk['Avg Impact Per Year - Roads']) * roads_weights) +
                                  (np.array(tot_flood_risk['Avg Impact Per Year - Markets']) * markets_weights))

tot_flood_risk = tot_flood_risk.sort_values(by='Risk', ascending=False)

# generate boolean treatment-control assignment variable to use moving forward ----

tot_flood_risk['Treatment'] = None
n_treatment = round(len(tot_flood_risk) * treatment_control_cutoff)
tot_flood_risk.loc[tot_flood_risk.index[0:n_treatment], 'Treatment'] = 1
tot_flood_risk.loc[tot_flood_risk.index[n_treatment:len(tot_flood_risk)], 'Treatment'] = 0

# assert to ensure all districts were assigned to treatment vs control
assert tot_flood_risk.groupby('Treatment').size()[0]+tot_flood_risk.groupby('Treatment').size()[1] == len(tot_flood_risk)
print(tot_flood_risk.groupby('Treatment').size())

In [ ]:
# load obs data at district level ----

path = '/Users/srilakshmi/Desktop/Thesis/04-Data-Analysis-Results/00-Data-Sources/00-Cloud-to-Street/01-District-level/Data-Observational/'
x = pd.read_csv(path+'Ghana_Stats_Rec_v2.csv')

In [ ]:
df = x.merge(tot_flood_risk, left_on='admin2name', right_on='Region')
df = df[['year', 'admin2name', 'pop_sum', 'Treatment']]
df = df[df['year'] >=2015]

control = df[df['Treatment'] == 0].groupby('year', as_index=False).mean()
treatment = df[df['Treatment'] == 1].groupby('year', as_index=False).mean()

In [ ]:
x = x.groupby('admin2name',as_index=False).mean()[['admin2name','crop_area','flood_area','pop_sum']]
merged = tot_flood_risk.merge(x, left_on='Region', right_on='admin2name')

import matplotlib.pyplot as plt
import seaborn as sns

# observe if parallel trends exist -----

sns.set_context("paper")

#fig, ax = plt.subplots()
fig, axes = plt.subplots(1, 2, figsize=(10, 6))

# plot treatment and control lines
sns.barplot(ax=axes[0], x = "Treatment", y = "flood_area", data = merged)
sns.barplot(ax=axes[1], x = "Treatment", y = "Avg Impact Per Year - Flooded Area", data = merged)

#fig, ax = plt.subplots()
fig, axes = plt.subplots(1, 2, figsize=(10, 6))

# plot treatment and control lines
sns.barplot(ax=axes[0], x = "Treatment", y = "pop_sum", data = merged)
sns.barplot(ax=axes[1], x = "Treatment", y = "Avg Impact Per Year - People", data = merged)

fig, axes = plt.subplots(1, 2, figsize=(10, 6))

# plot treatment and control lines
sns.barplot(ax=axes[0], x = "Treatment", y = "crop_area", data = merged)
sns.barplot(ax=axes[1], x = "Treatment", y = "Avg Impact Per Year - Crops", data = merged)

fig, axes = plt.subplots(1, 2, figsize=(10, 6))

# plot treatment and control lines
sns.barplot(ax=axes[0], x = "Treatment", y = "pop_sum", data = merged)
sns.barplot(ax=axes[1], x = "Treatment", y = "Risk", data = merged)