In [5]:
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
# file paths and names
path_input = '/Users/srilakshmi/Desktop/Thesis/Data/District-level/Totals/'
name_input_file = 'Impacts-Ghana_MaxFlood_20200715_20201014.csv'

path_output = '/Users/srilakshmi/Desktop/Thesis/Treatment-Control-Assignment/Perc-Flooded-NRT/People/'
name_output_file = 'Perc_People_Flooded.csv'

In [9]:
tot_pop = pd.read_csv(path_input+name_input_file, header=0)

colnames = []
for col in tot_pop.columns:
    colnames.append(col)

tot_pop = tot_pop.dropna(subset=[colnames[2]])
tot_pop = tot_pop[[colnames[1], colnames[2], colnames[6]]]
tot_pop = tot_pop.rename(columns={colnames[1]: "Region", colnames[2]: "Total Pop", colnames[6]: "Flooded Pop"})
tot_pop['Perc Population Flooded'] = list(tot_pop['Flooded Pop']/tot_pop['Total Pop'])

tot_pop = tot_pop.drop(columns=['Total Pop', 'Flooded Pop'])
tot_pop = tot_pop.sort_values(by=['Region'])

tot_pop

                         Region  Perc Population Flooded
100  Abura / Asebu / Kwamankese                 0.001296
4              Accra Metropolis                 0.002028
29                     Ada East                 0.010217
26                     Ada West                 0.013472
191                      Adaklu                 0.000266
..                          ...                      ...
154                  West Gonja                 0.000662
32                West Mamprusi                 0.005232
18              Yendi Municipal                 0.008060
209                  Yilo Krobo                 0.000000
96                      Zabzugu                 0.002590

[216 rows x 2 columns]

In [10]:
# save file to disk

tot_pop.to_csv(path_output+name_output_file, index = False, header=True)