In [1]:
import pandas as pd
from os import listdir
from os.path import isfile, join
import pathlib

In [2]:
# file paths and names
path_input = '/Users/srilakshmi/Desktop/Thesis/04-Data-Analysis-Results/00-Data-Sources/00-Cloud-to-Street/01-District-level/Crops/Output/'
name_input_file = 'District-level_Crops_Recurrence.csv'

path_output = '/Users/srilakshmi/Desktop/Thesis/04-Data-Analysis-Results/00-Data-Sources/00-Cloud-to-Street/01-District-level/Crops/Output/'
name_output_file = 'District_Flood_Risk_Classification_Crops.csv'

In [3]:
# add in zeroes column
df = pd.read_csv(path_input+name_input_file, header=0)
zeroes = [0] * len(df)
df.insert(1, "Zeroes", zeroes, True)
df

,Region,Zeroes,02Year,05Year,10Year,15Year,20Year
0,Abura / Asebu / Kwamankese,0,0.00,0.00,0.00,0.00,0.00
1,Accra Metropolis,0,0.00,0.00,0.00,0.00,0.01
2,Ada East,0,0.54,1.86,2.23,2.37,2.64
3,Ada West,0,2.19,4.31,4.69,4.87,5.14
4,Adaklu,0,0.00,0.01,0.04,0.05,0.06
...,...,...,...,...,...,...,...
211,West Gonja,0,0.02,0.10,0.36,0.50,0.73
212,West Mamprusi,0,0.83,6.32,38.76,59.25,86.98
213,Yendi Municipal,0,0.06,0.61,1.83,2.76,4.51
214,Yilo Krobo,0,0.00,0.03,0.05,0.06,0.06
215,Zabzugu,0,0.01,0.11,0.29,0.54,1.10

In [4]:
import numpy as np

# calculate average impact per year for population

return_periods = np.array([2, 5, 10, 15, 20])
weights = np.array([0.58, 0.2, 0.1, 0.07, 0.05])
avg_impact_per_year = []

for i in range(0, len(df)):

    marg_impact_per_year = [] # collect marginal impact per year to then sum up

    for j in range(1, 6):
        
        x = ( df.iloc[i, j+1] - df.iloc[i, j] ) / return_periods[j-1]
        marg_impact_per_year.append(x)

    avg_impact_per_year.append(sum(marg_impact_per_year * weights)) # weighted sum based on recurrence intervals

In [5]:
# add output to df
flood_risk_classification = df[['Region']]
colname = 'Avg Impact Per Year - Crops'

flood_risk_classification.insert(1,colname, avg_impact_per_year, True)
flood_risk_classification = flood_risk_classification.sort_values(colname) # sort from low to high avg impact per year
flood_risk_classification

                         Region  Avg Impact Per Year - Crops
0    Abura / Asebu / Kwamankese                     0.000000
93                      Ho West                     0.000000
181                      Suaman                     0.000000
183           Sunyani Municipal                     0.000000
84                      Ga East                     0.000000
..                          ...                          ...
108              Kintampo North                     0.720173
3                      Ada West                     0.725215
212               West Mamprusi                     0.949645
162             Savelugu Nanton                     1.110103
76                   East Gonja                     1.187827

[216 rows x 2 columns]

In [6]:
# save file to disk

flood_risk_classification.to_csv(path_output+name_output_file, index = False, header=True)