In [1]:
import pandas as pd
from os import listdir
from os.path import isfile, join
import pathlib

In [2]:
# file paths and names
path_input = '/Users/srilakshmi/Desktop/Thesis/Data/District-level/People/Data-Total-Pop/'
name_input_file = 'Impacts-Ghana_MaxFlood_20200715_20201014.csv'

path_output = '/Users/srilakshmi/Desktop/Thesis/Data/District-level/People/Output/'
name_output_file = 'Perc_Flooded_Total_NRT.csv'

In [3]:
tot_pop = pd.read_csv(path_input+name_input_file, header=0)

colnames = []
for col in tot_pop.columns:
    colnames.append(col)

tot_pop = tot_pop.dropna(subset=[colnames[2]])
tot_pop = tot_pop[[colnames[1], colnames[2], colnames[6]]]
tot_pop = tot_pop.rename(columns={colnames[1]: "Region", colnames[2]: "Total Pop", colnames[6]: "Flooded Pop"})
tot_pop['Perc Flooded'] = list(tot_pop['Flooded Pop']/tot_pop['Total Pop'])

tot_pop = tot_pop.drop(columns=['Total Pop', 'Flooded Pop'])
tot_pop = tot_pop.sort_values(by=['Perc Flooded'], ascending=False)

tot_pop

                           Region  Perc Flooded
2                      Agona West      0.052515
3    Komenda Edna Eguafo / Abirem      0.035029
7                   Gonja Central      0.025552
0                 La Dade Kotopon      0.020046
8                          Karaga      0.018817
..                            ...           ...
199                   Jaman North      0.000000
198                   Jaman South      0.000000
197                   Dormaa West      0.000000
196                       Kadjebi      0.000000
215                      Bia East      0.000000

[216 rows x 2 columns]

In [4]:
# save file to disk

tot_pop.to_csv(path_output+name_output_file, index = False, header=True)